<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ohtu.beddit"
          android:versionCode="7"
          android:versionName="0.2001a">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SET_ORIENTATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <application android:label="@string/app_name">
        <activity android:name=".activity.AlarmActivity"
                  android:label="@string/alarmActivity_title"
                  android:screenOrientation="portrait"
                  android:theme="@style/AlarmActivityTheme"
                  android:launchMode="singleInstance"/>
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name"
                  android:icon="@drawable/launcher_icon"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AdvancedSettingsActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activity.SettingsActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activity.AuthActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activity.HelpActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activity.SleepInfoActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleInstance"/>/>


        <receiver android:name=".alarm.AlarmReceiver" android:process=":remote" />
        <receiver android:name=".alarm.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest> 
